@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.46;
  }

  .popup {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .hidden {
    display: none;
  }

  .popup-container {
    padding-top: 55px;
    width: 390px;
    margin: auto;
    background-color: #ffffff;
    position: relative;
  }

  .feedback-content {
    padding-left: 32px;
    padding-right: 32px;
  }

    .popup-select {
    display: block;
    box-sizing: border-box;
    width: 325px;
    height: 45px;
    padding-left: 20px;
    margin-top: 8px;
    margin-bottom: 30px;
    border: none;
    font-family: inherit;
    font-size: 14px;
    color:#333333;
    background-color: #f4f7f6;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px;
  }

    .radio-group-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 8px;
  }

  .subscribing-label, .popup-textarea-label {
    display: block;
  }

  .subscribing-label:nth-child(n+2) {
    margin-bottom: 30px;
  }

  .subscribing-radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg"); 
  }

  .subscribing-radio {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      width: 1px;
  }

  .popup-textarea-content {
    display: block;
    box-sizing: border-box;
    width: 325px;
    min-width: 325px;
    max-width: 325px;
    min-height: 130px;
    max-height: 200px;
    padding: 20px;
    margin-top: 8px;
    border: none;
    font-family: inherit;
    font-size: 14px;
    color: #333333;
    background-color: #f4f7f6;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

   .popup-button {
    display: block;
    box-sizing: border-box;
    width: 325px;
    height: 45px;
    background-color: #b59f5b;
    border: none;
    font-size: 14px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .popup-close {
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: -10000px;
    background-image: url("../svg/form-x.svg"); 
    background-size: 18px 18px;
    vertical-align: middle;
    position: absolute;
    top: -20px;
    right: 0;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }
  
    .header {
    background-image: url("../images/banner-bg.jpg");
    background-color: grey;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-bottom: 63px;
    padding-top: 27px;
    padding-bottom: 145px;
    min-width: 1200px;
  }
  
  .header::before {
    content: "";
    display: block;
    background-color: #000000;
    opacity: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    display: block;
    width: 180px;
  }
  
  .menu {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .menu-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
  }
  
  .menu-link {
    color: inherit;
    text-decoration: none;
  }
  
  .menu-list-item:last-child {
    margin-right: 0;
  }
  
  .title-container {
    margin-top: 100px;
    text-align: center;
    width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title {
    font-size: 45px;
    line-height: 1.667;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .title:last-child {
    margin-bottom: 0;
  }
  
  .main {
    display: flex;
    justify-content: space-evenly;
  }

  .main_content {
      display: flex;
      flex-direction: column;
  }

  .trends {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 65px;
      margin-top: 25px;
  }

  .trend-article {
      position: relative;
      width: calc(25% - 5px);
      margin-right: 5px;
  }

  .trend-article:last-child {
    margin-right: 0;
  }

  .trend-previewbox {
      position: relative;
  }

  .img_trend {
    width: 100%;
    display: block;
  }

  .trend-previewbox::after {
    content: "";
    background-color: #000000;
    opacity: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .trend-content {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    border: 3px solid #b59f5b;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .trend-category-list {
      padding-inline-start: 0;
      margin-left: 33px;
  }

    .trend-category {
    display: inline-block;
    font-size: 14px;
    line-height: 2.86;
    color: #b59f5b;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 20px;
    padding-left: 0;
  }

  .trend-category:hover {
      text-decoration: underline;
  }

  .trend-category-link, .trend-link {
    text-decoration: none;
    color: inherit;  
  }

  .trend-name {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 700;
    margin-left: 33px;
    margin-right: 33px;
  }

  .trend-name:hover {
    color: #b59f5b;
  }
  
  .posts {
    width: 780px;
  }
  
  .post-section {
    display: flex;
    align-items: flex-start;
  }
  
  .post-section:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .post-category-list {
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .post-category {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    color: #b59f5b;
    font-weight: 700;
    text-transform: uppercase;
  }

  .post-category:hover {
      text-decoration: underline;
  }
  
  .post-category:last-child, .trend-category:last-child {
    margin-right: 0;
  }
  
  .post-category-link {
    color: inherit;
    text-decoration: none;
  }
  
  .post-caption {
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .post-caption:hover {
    color: #b59f5b;
  }
  
  .post-caption-link {
    color: inherit;
    text-decoration: none;
  }
  
  .post-date-author {
    font-size: 12px;
  }
  
  .post-date {
    display: inline-block;
    margin-right: 14px;
    color: #888888;
  }
  
  .post-author {
    display: inline-block;
    color: #000000;
    font-weight: 700;
    font-style: normal;
  }
  
  .post-picture {
    margin-right: 30px;
    width: 381px;
    background-color: #eff6f1;
  }
  
  .post-text, .period-label, .subscribing-label, .popup-textarea-label {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
  }
  
  .page-footer {
    margin-top: 65px;
    margin-bottom: 30px;
  }
  
  .articles-socials {
    padding: 30px;
    background-color: #eeeeee;
    text-align: center;
  }
  
  .socials {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .socials-item {
    display: inline-block;
  }
  
  .socials-item:nth-child(n + 2) {
    margin-left: 30px;
  }
  
  .socials-link {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
  }
  
  .socials-link-twitter {
    background-image: url("../svg/004-twitter.svg");
  }
  
  .socials-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");
  }
  
  .socials-link-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
  }
  
  .socials-link-instagram {
    background-image: url("../svg/005-instagram.svg");
  }
  
  .socials-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
  }
  
  .socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .footer-text {
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    font-weight: 700;
    text-align: center;
    margin-top: 75px;
  }
  
  .footer-text-link {
    color: inherit;
    text-decoration: none;
  }
  
  .sidebar {
    width: 270px;
  }
  
  .sidebar-block:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .sidebar-header {
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .trends-header, .feedback-title {
    text-align: center;
    font-size: 20px;
    line-height: 1.45;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .sidebar-header::after, .trends-header::after, .feedback-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    margin-top: 10px;
  }
  
  .article {
    display: flex;
    align-items: flex-start;
  }
  
  .article:nth-child(n + 2) {
    margin-top: 20px;
  }
  
  .article-img {
    margin-right: 20px;
    width: 70px;
    background-color: #f4f7f6;
  }
  
    .article-date {
    font-size: 12px;
    font-weight: 400;
    color: #878787;
  }
  
  .article-caption {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
  }
  
  .field {
    display: block;
    box-sizing: border-box;
    height: 48px;
    background-color: #f4f7f6;
    border: 0;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: inherit;
  }
  
  .button {
    background-color: #b59f5b;
    height: 48px;
    border: 0;
  }
  
  .search-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 222px;
  }
  
  .search {
    display: flex;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }
  
  .search-field:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }
  
  .search-button {
    background-image: url("../svg/search.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    padding: 0;
  }

  .search-button:hover {
    background-color: #323232;
  }
  
  .mailing-field {
    width: 270px;
  }

  .mailing-field:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }
  
  .mailing-button {
    font-size: 14px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    width: 270px;
    margin-top: 16px;
    text-transform: uppercase;
  }
  
  .tags-list {
    box-sizing: border-box;
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  
  .tag-item {
    display: inline-block;
    font-size: 12px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(244, 243, 241, 0);
    text-align: center;
    margin-bottom: 6px;
  }
  
  .tag {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 3px solid #eeeeee;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .themes-list {
    display: block;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .theme-item {
    list-style-type: none;
    display: block;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
  }
  
  .theme-item:nth-child(n + 2) {
    margin-top: 15px;
  }
  
  .theme {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
  }
  
  .counter {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    vertical-align: super;
    margin-left: 5px;
  }

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 65px;
      width: 30%;
  }

  .product:last-child {
    margin-right: 0;
  }

    .products-header {
      margin-top: 60px;
  }

  .product-list {
      display: flex;
      margin-bottom: 60px;
  }

  .product-text {
    border: 3px solid #b59f5b;
    padding-top: 50px;
    padding-bottom: 70px;
    width: 340px;
    position: relative;
    z-index: 2;
    margin-top: -30px;
    flex-basis: 100%;
  }

  .product-caption {
    font-size: 20px;
    line-height: 1.2;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 20px;
  }
  
  .product-description {
    font-size: 15px;
    line-height: 1.47;
    color: #0f0d0e;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-link {
    color: #b59f5b;
    text-decoration: none;
  }

  .product-link:hover {
    text-decoration: underline;
  }

  .product-footer {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-price {
    font-size: 20px;
    font-weight: 700;
    color: #0f0d0e;
    line-height: 1.2;
    display: flex;
  }

  .product-price_old {
    text-decoration: line-through;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 5px;
  }

  .product-rub {
    margin-left: .2em;
  }

  .product-button {
    border: none;
    background-color: #b59f5b;
    padding: 18px 28px;
    text-transform: uppercase;
    font-family: inherit; 
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
  }

  .product-button:hover {
    background-color: #323232;
  }

  @media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .container {
      min-width: 641px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 35px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
    /*.header-nav {
      justify-content: left;
      width: 100%;
      max-width: 155px;
    }
    .header-logo {
      width: 155px;
    }*/
    .popup-close {
      background-size: 27px 27px;
      top: -30px;
      width: 27px;
      height: 27px;
    }
    .header {
      background-image: url("../images/banner-bg-tablet.jpg");
      background-color: grey;
      color: white;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      margin-bottom: 50px;
      padding-top: 50px;
      padding-bottom: 125px;
      min-width: 641px;
      width: 100%;
      box-sizing: border-box;
    }
    .title-container {
      width: 600px;
    }
    .title {
      font-size: 40px;
    }
    .burger {
      display: block;
      border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff;
      width: 25px;
      height: 16px;
      position: absolute;
      right: 30px;
      top: 5px;
    }
    .burger::before {
      content: "";
      border-top: 3px solid #ffffff;
      width: 25px;
      height: 3px;
      position: absolute;
      right: 0px;
      top: 6px;
    }
    .menu-list {
      display: none;
    }
    .posts {
      max-width: 392px;
    }
    .sidebar {
      max-width: 270px;
    }
    .post-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .post-category {
      margin-top: 15px;
    }
    .post-text::after {
      content: "";
      display: block;
      width: 100%;
      border: 3px solid #eeeeee; 
    }
    .trends {
      width: 100%;
    }
    .trend-article {
      width: calc(50% - 5px);
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .trend-article:nth-child(even) {
      margin-right: 0;
    }
    .product-list {
      display: flex;
      flex-wrap: wrap;
    }
    .product {
      width: calc(50% - 60px);
      margin-left: 20px;
      margin-right: 40px;
      margin-bottom: 30px;
    }
    /*.product:nth-child(even) {
      margin-right: 0;
    }*/
    .product-text {
      max-width: 300px;
    }
    .feedback-title {
      font-size: 18px;
    }
    .period-label, .subscribing-label, .popup-textarea-label, .popup-select, .radio-group-text, .popup-textarea-content {
      font-size: 13px;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    body {
      width: 100vw;
    }
    .main_content {
      width: 100%;
    }
    .burger {
      display: block;
      border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff;
      width: 25px;
      height: 16px;
      position: absolute;
      right: 30px;
      top: 5px;
    }
    .burger::before {
      content: "";
      border-top: 3px solid #ffffff;
      width: 25px;
      height: 3px;
      position: absolute;
      right: 0px;
      top: 6px;
    }
    .menu-list {
      display: none;
    }
    .trend-name {
      font-size: 15px;
      margin-left: 30px;
    }
    .trend-category-list {
      margin-bottom: 15px;
      margin-left: 30px;
    }
    .trend-category {
      line-height: 1;
    }
    .trend-article {
      width: calc(25% - 5px);
      margin-right: 5px;
    }
    .trend-article:last-child {
      margin-right: 0;
    }
    .trend-content {
      margin-left: 17px;
      margin-right: 17px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 640px) and (orientation: portrait) {
    .container {
      min-width: 320px;
      width: 100%;
      padding: 0 15px;
      /*margin-left: auto;
      margin-right: auto;*/
      position: relative;
      box-sizing: border-box;
    }
    .popup-select, .popup-textarea-content, .popup-button {
      width: 275px;
    }
    .popup-textarea-content {
      min-width: 275px;
      max-width: 275px;
    }
    .popup-close {
      background-size: 27px 27px;
      top: -30px;
      width: 27px;
      height: 27px;
    }
    .header {
      min-width: 320px;
      width: 100%;
      background-image: url("../images/banner-mobile.jpg");
      background-color: grey;
      color: white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      margin-bottom: 45px;
      padding-top: 30px;
      padding-bottom: 215px;
      box-sizing: border-box;
    }
    .header-logo {
      padding-top: 220px;
      width: 268px;
      margin: auto;

    }
    .burger {
      display: block;
      border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff;
      width: 23px;
      height: 5px;
      position: absolute;
      right: 15px;
      top: 30px;
    }
    .burger::before {
      content: "";
      border-top: 3px solid #ffffff;
      width: 23px;
      height: 3px;
      position: absolute;
      right: 0px;
      top: 13px;
    }
    .main {
      flex-direction: column;
      /*box-sizing: border-box;
      min-width: 320px;
      width: 100%;*/
    }
    .menu-list {
      display: none;
    }
    .title-container {
      margin-top: 45px;
      width: 280px;
    }
    .title {
      font-size: 26px;
    }
    .posts, .post-section, .post-picture {
      /*min-width: 320px;*/
      width: 100%;
    }
    .post-picture {
      margin-right: 0;
    }
    .post-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .post-section:last-child {
      margin-bottom: 45px;
    }
    .post-category {
      margin-top: 15px;
    }
    .post-text::after {
      content: "";
      display: block;
      width: 100%;
      border: 3px solid #eeeeee; 
    }
    .post-caption {
      font-size: 16px;
    }
    .post-text {
      font-size: 14px;
    }
    .trends {
      width: 100%;
    }
    .trends-header {
      font-size: 16px;
    }
    .trend-article {
      margin-bottom: 3px;
      width: 100%;
      margin-right: 0;
    }
    .trend-name {
      font-size: 16px;
    }
    /*.products {
      min-width: 320px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 15px;
    }*/
    .product-list {
      display: flex;
      flex-wrap: wrap;
    }
    .product {
      min-width: 290px;
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
    .products-header {
      display: block;
      min-width: 320px;
      width: 100%;
    }
    .product, .product-img, .product-text {
      min-width: 290px;
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
    .product-text {
      margin-top: -50px;
    }
    .sidebar-header {
      font-size: 16px;
    }
    /*.sidebar, .sidebar-block {
      min-width: 290px;
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
    }*/
      .sidebar-block {
        min-width: 290px;
        width: 100%;
      }
    .search-field {
      width: 242px;
    }
    .mailing-field {
      min-width: 290px;
      width: 100%;
      box-sizing: border-box;
    }
    .mailing-button {
      min-width: 290px;
      width: 100%;
    }
    .tag {
      padding-left: 14px;
      padding-right: 14px;
    }
    .page-footer {
      min-width: 290px;
      width: 100%;
      box-sizing: border-box;
    }
    .popup-container {
      min-width: 320px;
      width: 100%;
    }
    .feedback-title {
      font-size: 16px;
    }
    .period-label, .subscribing-label, .popup-textarea-label, .popup-select, .radio-group-text, .popup-textarea-content {
      font-size: 13px;
    }
    .articles-socials, .socials {
      display: block;
      box-sizing: border-box;
      min-width: 290px;
      width: 100%;
    }
    .articles-socials {
      padding-left: 0;
    }
    .footer-text {
      min-width: 290px;
      width: 100%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
   /* .header, .trends {
    margin-left: auto;
    margin-right: auto;
   }*/
    .header, .post-section, .sidebar {
      width: 100%;
      min-width: 320px;
      box-sizing: border-box;
    }
  .burger {
    display: block;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    width: 23px;
    height: 5px;
    position: absolute;
    right: 60px;
    top: 30px;
  }
  .burger::before {
    content: "";
    border-top: 3px solid #ffffff;
    width: 23px;
    height: 3px;
    position: absolute;
    right: 0px;
    top: 13px;
  }
  .trend-article {
    width: calc(50% - 5px);
    margin-right: 5px;
  }
  .trend-article:last-child {
    margin-right: 0;
  }
  .trend-name {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  }
  .trend-category {
    font-size: 10px;
  }
  .trend-category-list {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1;
  }
  .trend-content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mailing-field {
    max-width: 320px;
  }
  .search, .mailing-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product {
    margin-right: 0;
  }
}

@media (max-height: 641px) and (orientation: landscape) {
  .header, .post-section, .sidebar {
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
  }
  
  .trend-article {
    width: calc(50% - 5px);
    margin-right: 5px;
  }
  .trend-article:last-child {
    margin-right: 0;
  }
}
